:root {
  --bodyBg: #23954e;
  --menuBg: #f7b1b6;
  --progressBar: #54d1db;
}

body {
  background: var(--bodyBg);
}

#menu {
  background: url('https://res.cloudinary.com/dgmvbx86i/image/upload/v1587657441/WhatsApp_Image_2020-04-23_at_18.54.23_2_vueryo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

/* Overrides default styled accordion styles (too much bottom padding) */
.ui.styled.accordion .content {
  margin: 0;
  padding: 0.5em 1em 0.75em !important;
}
